#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}

.whole-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-bar {
  background-color: #8E98A1;
  width: 100% !important; 
  height: 10vh;
  display: flex;
  justify-content: space-around;
  top: 0px;
  left: 0px;
  position: fixed;
}

nav {
  color: #D4CBC7;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

nav div:hover {
  color: #f2edea;
}

.user-info {
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-top: 100px;
}
.logo {
  position: fixed;
  left: 50px;
  top: 0px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.whole-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.feed-functions {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

form {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 30px;
  width: 60vh;
}

.post-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.feed-posts {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 40px;
}


.post-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin: 20px;
  border-radius:5px;
}

.post-card {
  background-color: rgb(255, 255, 255);
  width: 65%;
  color: #434b53;
  border-radius: 5px;
  padding: 20px;
}

.post-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-view {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

post-view div {
  margin-right: 20px;
}

.pure-post {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 20px;
  margin: 40px;
}

.post-text {
  text-align: left;
}

.like-btn {
  background-color: #efb1ca ;
}

.comment-section {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 20px;
  margin: 40px;
}

.comment-text {
  text-align: left;
}

.whole-cmt {
  border-bottom-style: solid;
  border-width: 1px;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  width: 60vh;
}

.user_editables {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
}



.read-the-docs {
  color: #888;
}
